*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root{
    font-family: monospace;
  }
  ul{
    margin: 0.5rem;
    height: 300px;
    overflow: scroll;
    list-style: none;
  }
  form{
    display: flex;
    flex-wrap: nowrap;
    padding: 0.5rem;
  }
  svg{
    width: 16px;
  }
  input[type="text"]{
    width: 100%;
  }
  section {
    border: 1px solid black;
    display: inline-flex;
    flex-direction: column;
    width: 300px;
    border-radius: 0.5rem;
    user-select: none;
  }
  
  #chat-titulo{
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #herramienta-pincel{
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  input[type="submit"]{
    padding: 0.25rem;
    background: white;
    border: 1px solid black;
  }
  
  li{
    padding: 0.1rem;
    user-select: 0.1rem;
  }
  
  li:nth-child(odd) { 
    background: #efefef; 
  }
  
  #btn-toggle-chat{
    background: none;
    border: 1px solid black;
    border-radius: 0.25rem;
    padding: 0.5rem;
  }

  #btn-toggle-tool{
    background: none;
    border: 1px solid black;
    border-radius: 0.25rem;
    padding: 0.5rem;
  }
  
  #btn-toggle-chat:hover, input[type="submit"]{
    background: #ddd;
  }

  #btn-toggle-tool:hover, input[type="submit"]{
    background: #ddd;
  }


canvas {
  position: absolute;
  top: 0;
  z-index: -1;
  }
  #brushSizeInput {
    margin-right: 1rem;
    position: top;
    bottom: 3rem; 
    left: 140px; 
  }

  #colorPincel {
    margin-right: 1rem;
    position: bottom;
    bottom: 3rem; 
    left: 140px; 
  }

  #InputColor {
    margin-top: 1rem;
    position: top;
    bottom: 2rem;
    left: 140px;
  }